.container {
    box-sizing: border-box;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    display: block;
}

.button-y {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--cor-p5);
    text-transform: uppercase;
    padding: 16px 32px;
    background: linear-gradient(#ffb700, #f2a50c);
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 600;
    width: max-content;
    border: none;
    cursor: pointer;
}

.button-y:hover {
    transition: 0.3s;
    background: linear-gradient(#fcb205, #e78e08);
}

@media (max-width: 800px) {
    .button-y {
        font-size: 0.9rem;
    }
}


/*Titulo internos*/

.titulo-bg {
    padding: 60px 0;
    background-color: var(--cor-11);
}

.background-bg {
    background-color: var(--cor-11);
}

.titulo p {
    margin-bottom: 4px;
}

@media (max-width: 800) {
    .titulo-bg {
        padding: 40px 0;
    }

    .titulo p {
        font-size: 2rem;
        text-transform: lowercase;
        font-weight: 400;
    }
}