.vantagens-bg {
    background-color: var(--cor-12);
}

div.vantagens {
    padding: 100px 20px;
}

.vantagens h2 {
    padding-bottom:60px ;
} 

.vantagens ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 0 auto;
}

.vantagens ul li img, .vantagens ul li h3 {
    margin-bottom: 10px;
}

@media (max-width: 800px) {
    div.vantagens {
        padding: 50px 20px;
    }

    .vantagens h2 {
        padding-bottom:40px ;
    } 

    .vantagens ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .vantagens ul {
        grid-template-columns: 1fr;
    }   
}